.containerMon {
    margin-top: 150px;
    padding: 80px 70px !important; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--DarkGrayTwo);
}

.icon-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px; 
    width: 100%;
    margin: auto;
}

.icon {
    font-size: 75px;
    cursor: pointer;
    color: var(--Red);
    margin-bottom: 30px;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

.icon:hover {
    transform: scale(1.2) rotate(5deg);
    color: var(--Semi-TransparentRed);
}

.button {
    background: linear-gradient(to bottom left, var(--dark-red) 0%, var(--DeepBlack) 20%);
    border: none;
    color: var(--White);
    padding: 12px 50px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 14px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.button:hover {
    transform: translateY(-2px) scale(1.08);
    box-shadow: 0 5px 15px var(--Semi-TransparentRed);
}

.MOAbouth3 h3 {
    margin-bottom: 15px;
    color: var(--White);
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
}

.MoAboutContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 260px;
    text-align: center;
    padding: 40px;
    border-radius: 10px;
    background-color: var(--VeryDarkGray);
    color: var(--SilverGray);
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.MoAboutContainer:hover {
    box-shadow: 0 5px 15px var(--DarkGrayOne);
    transform: scale(1.05);
}

@media (max-width: 992px) {
    .icon-container {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .containerMon {
        padding: 60px 20px;
    }

    .icon {
        font-size: 65px;
    }
}

@media (max-width: 768px) {
    .MoAboutContainer {
        width: 90%;
    }

    .icon {
        font-size: 60px;
    }

    .MOAbouth3 h3 {
        font-size: 22px;
    }
}
