.explore-card {
    background-color: var(--VeryDarkGray);
    border-radius: 12px;
    overflow: hidden;
    transition: transform 0.3s;
    outline: 1px solid var(--DarkGrayOne);
    align-self: end;
}

.explore-card-padding{
    padding: 30px;
}

/* .explore-card:hover {
    transform: scale(1.02) translate(0, -10px);
    -webkit-transform: scale(1.02) translate(0, -10px);
    -moz-transform: scale(1.02) translate(0, -10px);
    -ms-transform: scale(1.02) translate(0, -10px);
    -o-transform: scale(1.02) translate(0, -10px);
} */

.explore-card-image {
    width: 100%;
    border-radius: 10px;
}

.explore-card-content{
    width: 235.6px;
}

.explore-card-title {
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    width: 205.6px;
    padding: 1.5px 0 0 0;
    margin: 0;
    color: #fff;
}

.explore-card-link {
    height: 30px;
    width: 30px;
    text-decoration: none;
}
.arrow{
    width: 18.75px;
    height: 16.88px;
}

.explore-card-link:hover {
    text-decoration: underline;
}

@media (max-width: 1440px){
    .explore-card-padding{
        padding: 24px;
    }
    .explore-card-content{
        width: 191.8px;
    }
    .explore-card-title {
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        width: 167.8px;
        padding: 0;
        margin: 0;
        color: #fff;
    }
    .explore-card-link {
        height: 24px;
        width: 24px;
    }
    .arrow{
        width: 15px;
        height: 13.5px;
    }
}
@media (max-width: 390px){

}

