.explore-card {
    background-color: var(--VeryDarkGray);
    border-radius: 12px;
    transition: 0.5s;
    border: 1px solid var(--DarkGrayOne);
    width: 18.5213%;
    height: max-content;
}

.explore-card-2 {
    width: 23.69%;
}

.explore-card-padding {
    padding: 30px;
}

.explore-card:hover {
    transform: translate(0, -6px) scale(1.01);
    filter: brightness(1.2);
    -webkit-filter: brightness(1.2);
    -webkit-transform: translate(0, -6px) scale(1.01);
    -moz-transform: translate(0, -6px) scale(1.01);
    -ms-transform: translate(0, -6px) scale(1.01);
    -o-transform: translate(0, -6px) scale(1.01);
    box-shadow: 0px 2px 2px var(--Semi-TransparentRed);
}


.explore-card-image,
.explore-card-content {
    width: 100%;
    border-radius: 10px;
}

.explore-card-title {
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    padding: 1.5px 0 0 0;
    margin: 0;
    color: #fff;
}

.explore-card-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
}

.arrow {
    width: 18.75px;
    height: 16.88px;
}

.explore-card-link:hover {
    text-decoration: underline;
}

.btn-h-gap {
    gap: 4px;
}

@media (max-width: 1440px) {
    .explore-card {
        border-radius: 10px;
        width: 18.75%;
    }

    .explore-card-2 {
        width: 23.7291%;
    }

    .explore-card-padding {
        padding: 24px;
    }

    .explore-card-title {
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        padding: 0;
        margin: 0;
        color: #fff;
    }

    .explore-card-link {
        height: 24px;
        width: 24px;
    }

    .arrow {
        width: 15px;
        height: 13.5px;
    }

    .btn-h-gap {
        gap: 2px;
    }
}

@media (max-width: 991px) {
    .explore-card {
        width: 47.8324%;
    }

    .explore-card-padding {
        padding: 20px;
    }

    .explore-card:hover {
        transform: translate(0, 0) scale(1);
        filter: brightness(1.2);
        -webkit-filter: brightness(1.2);
        -webkit-transform: translate(0, 0) scale(1);
        -moz-transform: translate(0, 0) scale(1);
        -ms-transform: translate(0, 0) scale(1);
        -o-transform: translate(0, 0) scale(1);
        box-shadow: 0px 0px 0px var(--Semi-TransparentRed);
    }
}

@media (max-width: 390px) {

    .explore-card {
        width: 49.8324%;
    }

    .explore-card-title {
        font-size: 14px;
        font-weight: 600;
        line-height: 21px;
        color: #fff;
    }

    .explore-card-link {
        height: 20px;
        width: 20px;
    }

    .arrow {
        width: 12.5px;
        height: 11.25px;
    }
}