.faq-container {
  padding: 150px 8.4375% 50px 8.4375% ;
  display: flex;
  flex-direction: column;
}

.faq1 {
  margin-bottom: 80px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.hd-text {
  width: 82.70676691729%;
}

.faq-large-screen {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 100%;
  gap: 80px;
}

.faq-column {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0;
}

.faq-small-screen {
  display: none;
}
.faq-small-screen .line {
  margin-top: 20px;
  margin-bottom: 20px;
}
.faq-small-screen .no-line {
  margin-top: 20px;
}
.faq-item {
  width: 100%;
}

@media (max-width: 1440px) {
  .faq-container {
    padding: 0% 5.5555555556%;
   
  }
  .faq1 {
    margin-bottom: 60px;
  }
  .hd-text {
    width: 82.8125%;
  }
  .faq-large-screen {
    gap: 40px;
  }
  .faq-column {
    width: 47.4937343358%;
  }
}

@media (max-width: 992px) {
  .faq-container {
    padding: 0% 4.10256%;
  
  }
  .faq-container {
    padding: 0 5.555%;
  }
  .faq-large-screen {
    display: none;
  }

  .faq-small-screen {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .faq1 {
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap:40px;
  }
  .faq1 .ma-title {
    font-size: 20px;
    line-height: 30px;
  }
  .hd-text p {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
  }
  
}
