.ma-btn {
  background-color: var(--Red);
  color: var(--White);
  padding: 18px 24px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
}

.LQ-pad {
  padding: 18px 44px;
}

.ma-btn img {
  margin-right: 4px;
  width: 17.84px;
  height: 19.19px;
  border-radius: 0px;
}

.ma-btn1 {
  margin-right: 4px;
}

@media (max-width:1754px) {
  .LQ-pad {
    padding: 14px 38.4px;
    font-size: 15px;
  }
}

@media (max-width: 1440px) {
  .ma-btn {
    padding: 14px 24px;
    font-size: 14px;
    line-height: 21px;
  }

  .ma-btn img {
    width: 15.29px;
    height: 16.45px;
  }

  .LQ-pad {
    padding: 14px 38.33px;
  }
}

@media (max-width:1320px) {
  .LQ-pad {
    padding: 14px 33px;
  }
}

@media (min-width:390px) and (max-width:992px) {
  .LQ-pad {
    padding: 14px 32.5px;
  }
}

@media (max-width: 800px) {
  .ma-btn {
    width: auto !important;
  }
}
