.ma-btn {
  background-color: var(--Red);
  color: var(--White);
  padding: 18px 24px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
}

.ma-btn-hover:hover {
  transform: translate(0, -5px);
  border: 1px solid var(--White);
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}

.LQ-pad {
  padding: 18px 0px;
  width: 47.5728%;
}

.ma-btn img {
  margin-right: 4px;
  width: 17.84px;
  height: 19.19px;
  border-radius: 0px;
}

.ma-btn1 {
  margin-right: 4px;
}

@media (max-width: 1440px) {
  .ma-btn {
    padding: 14px 20px;
    font-size: 14px;
    line-height: 21px;
  }

  .ma-btn img {
    width: 15.29px;
    height: 16.45px;
  }

  .LQ-pad {
    padding: 14px 0px;
  }
}

@media (max-width:992px) {
  .LQ-pad {
    padding: 14px 0px;
    width: 48.2014%;
  }
}

@media (min-width:390px) {
  .LQ-pad {
    padding: 14px 5px;
    width: 48.3%;
  }
}