.moviesNotButton {
    border-radius: 8px;
    padding: 10px 24px;
    position: absolute;
    top: -20px;
}

.moviesNotButtonText {
    line-height: 30px;
    font-size: 20px;
}

.card-group-zq,
.card-group-zq1,
.card-group-zq2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.cards-container-zq {
    width: 100% !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 150px;
}

.cards-container {
    width: 100%;
}

.cards-container>div {
    width: 100% !important;
}

.containers-container {
    width: 100%;
    padding: 50px;
    border: 1px solid var(--DarkGrayOne);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 100px;
    position: relative;
}

.Tabs-container {

    width: 100%;
    max-height: 61px;
    padding: 8px;
    display: none;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--DarkGrayOne);
    border-radius: 8px;
    background-color: var(--DeepBlack);
}

.LActive {
    width: 50%;
    padding: 12px 0;
    color: var(--White);
    font-size: 14px;
    line-height: 21px;
    font-weight: 500;
    background-color: var(--Darkblack);
    border: none;
    border-radius: 6px;
    text-align: center;
}

.Dis-LActive {
    width: 50%;
    padding: 12px 0;
    font-size: 14px;
    line-height: 21px;
    font-weight: 500;
    color: var(--Gray);
    background-color: transparent;
    border: none;
    text-align: center;
}

.displayDiv {
    display: flex;
}

@media (max-width:1440px) {
    .moviesNotButton {
        border-radius: 6px;
        padding: 8px 20px;
        top: -18px;
    }

    .moviesNotButtonText {
        line-height: 24px;
        font-size: 16px;
    }

    .containers-container {
        width: 100%;
        padding: 40px;
        gap: 80px;
    }
}

@media (max-width:991px) {
    .moviesNotButton {
        display: none;
    }

    .containers-container {
        width: 100%;
        padding: 0;
        gap: 50px;
        border: none;
    }

    .Tabs-container {
        display: flex;
    }

    .displayDiv {
        display: none;
    }
}

@media (max-width:390px) {
    .moviesNotButton {
        border-radius: 8px;
        padding: 10px 24px;
        position: absolute;
        top: -20px;
    }

    .moviesNotButtonText {
        line-height: 30px;
        font-size: 20px;
    }
}