
.custom_container {
  width: 1057px; /* العرض */
  background-color: var(--SmokyGray);

  height: 555px;
  padding: 50px;
  padding-right: 40px;
  row-gap: 20px !important;
  gap: 20px !important;
  border-radius: 12px;
  border: 1px;
  position: relative;
}
.slick-dots ul{
  padding-left: 0;
  }
 
.custom-dots-container {
  
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
}

.custom-dot {
  font-size: 30px;
  color: #000; 
  margin-top: 30px;
}
.slick-dots li{
  width: 23px;
  height: 4px;
}

.slick-dots li.slick-active .custom-dot {
  color: #ff0000; 
}

.MA{
  width: 24px;
  height: 24px;  
}
.MA img{
  width: 18px;
  height: 18px;
}
.MA button{
  background-color:  rgba(20, 20, 20, 1);
border: none;
}
.MAiconback{
  
  width: 54px;
height: 54px;
border: 1px solid rgba(38, 38, 38, 1);

background-color:  rgba(20, 20, 20, 1);
display: flex;
 justify-content: center;
 align-items: center;
border: 1px solid;
border-radius: 50%;

position: absolute;
left: 38%;
}
.MAiconnext{
    
  width: 54px;
height: 54px;
background-color:  rgba(20, 20, 20, 1);

display: flex;
 justify-content: center;
 align-items: center;
border: 1px solid;
border-radius: 50%;

position: absolute;
right: 38%;
}

@media (max-width: 1440px) {
  .custom_container {
    width: 850px;
    height: 455px;
    padding: 40px ;
    padding-right: 30px;

    gap: 30px;
    border-radius: 10px ;  
  }
  .MAiconback{
  
    width: 44px;
  height: 44px;}

.MAiconnext{
  width: 44px;
  height: 44px;
}

.MA img{

width: 12.5px;
height: 11.25px;
/* top: 4.38px;
left: 3.75px; */

border: 1.5px;

}
}
@media (max-width: 400px) {
  .custom_container {
    width: 100% !important;
height: 402px;
padding: 24px ;
/* padding-right: 14px; */
gap: 24px;
  }
  .MAiconback{
    width: 44px;
    height: 44px
    ;
    left: 20%;

}
.MAiconnext{
  width: 44px;
  height: 44px;
  right: 20%;
}

.MAiconnext{
  width: 44px;
  height: 44px;
}

.slick-dots li{
  width: 23px;
  height: 4px;
}
.MA img{

width: 12.5px;
height: 11.25px;
/* top: 4.38px;
left: 3.75px; */

border: 1.5px;

}
  }
