.reviews {
    width: 100%;
    background-color: var(--VeryDarkGray);
    border: 1px solid var(--DarkGrayOne);
    border-radius: 12px;
    padding: 50px;
}

.reviews-gap {
    gap: 40px;
}

.reviews-h {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: var(--Gray);
    margin: 0;
}

.reviews-btn {
    background-color: var(--DarkGrayTwo);
    border: 1px solid var(--DarkGrayOne);
    padding: 14px 16px;
    border-radius: 8px;
}

.reviews-btn-p {
    margin-left: 4px;
    line-height: 28px;
    font-size: 18px;
    font-weight: 500;
}

.reviews-btn-icn {
    width: 30px;
}

.reviews-arrows {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.reviews-arrows button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--DarkGrayTwo);
    padding: 14px;
    border: 1px solid var(--DarkGrayOne);
    cursor: pointer;
    border-radius: 100px;
}

.reviews-arrow-div {
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reviews-arrow-img {
    width: 15px;
    height: 13.5px;
}

.reviews-indicators {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.reviews-indicators button {
    padding: 0;
    width: 16.33px;
    height: 4px;
    background: var(--SmokyGray);
    border: none;
    border-radius: 100px;
    cursor: pointer;
}

.to-reviews-indicator.active {
    background-color: red;
    /* Red color for the active indicator */
    width: 23px;
}

.reviews-card-group {
    display: flex;
    justify-content: space-between;
    height: 100% !important;
    align-items: start;
}

.swiper-button-prev,
.swiper-button-next {
    display: none;
}

@media (max-width: 1440px) {
    .reviews {
        padding: 40px;
    }

    .reviews-h {
        font-size: 16px;
        line-height: 24px;
    }

    .reviews-btn {
        padding: 12px;
        border-radius: 6px;
    }

    .reviews-btn-icn {
        width: 24px;
    }

    .reviews-btn-p {
        line-height: 21px;
        font-size: 14px;
    }

    .reviews-arrow-img {
        width: 12.5px;
        height: 11.25px;
    }

    .reviews-arrow-div {
        width: 20px;
        height: 20px;
    }

    .reviews-gap {
        gap: 30px;
    }

    .reviews-arrows button {
        padding: 12px;
    }

    .reviews-indicators button {
        padding: 0;
    }
}

@media (max-width: 991px) {
    .reviews {
        width: 100%;
        padding: 24px;
    }

    .reviews-h {
        font-size: 14px;
        line-height: 21px;
    }

    .reviews-card-group {
        justify-content: center;
    }

    .reviews-gap {
        gap: 24px;
    }
}