.zk-mission{
width: 100%;
display: flex;
flex-direction: column;
align-items: start;
justify-content: center;
/**padding: 180px 162px;*/
padding-top: 100px;
padding-bottom: 100px;
}
.zk-div-card{
    display: flex;
    align-items: center;
    justify-content: start;
     width: 100%;
     gap: 50px;
     margin-top: 50px;
    
}
@media (max-width: 1440px) {
   
    .zk-div-card{ flex-wrap: wrap;
    gap: 16px;}

}

@media (max-width:876px) {
   
    .zk-div-card{
       justify-content: center;
    }

}