.ma-title {
    font-size: 38px;
    font-weight: 700;
    line-height: 57px;
    font-family: "Manrope", serif;
    margin-bottom: 14px;
    color: var(  --White);
}
.ma-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    font-family: "Manrope", serif;
    color: var( --Gray);
}