.ma-title {
    font-size: 38px;
    font-weight: 700;
    line-height: 87px;
    margin-bottom: 14px;
    color: var(  --White);
}
.ma-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: var( --Gray);
    padding: 0px;
    margin: 0px;
}
.ma-title.ma-size {
    font-size: 58px;
}
.ma-50{
    margin-bottom: 50px;
}
.ma-80{
    margin-bottom: 80px;
}
 @media (max-width:1440px) {
    .ma-title.ma-size {
        font-size: 48px;
    } 
    .ma-title {
        margin-bottom: 10px;
    } 
    .ma-text {
        line-height: 21px;
        font-size: 14px;
    } 
    .ma-50 {
        margin-bottom: 40px;
    }
    .ma-80 {
        margin-bottom: 60px;
    }
}
 @media (max-width:390px) {
    .ma-title.ma-size {
        font-size: 28px;
    } 
    .ma-title {
        line-height: 42px
    } 
    .ma-text {
        font-size: 14px;
        line-height: 21px;
    } 
    .ma-50 {
        margin-bottom: 30px;
    }
    .ma-80 {
        margin-bottom: 40px;
    }
}