
 
  .Card_PageShow{
    width: 468.5px;
height: 265px;
padding: 40px ;
gap: 20px;
border-radius: 12px;
border: 1px ;
color:  var(--Gray);
margin: 0;
background-color: var(--DeepBlack);
margin-bottom:40px ;
  }
  .MA_paddingBotton{
    display: flex;
    justify-content: space-between;
    width: 388.5px;
height: 57px;
gap: 41px;
opacity: 0px;
margin-bottom: 20px;

  }
  .color_title{
    width: 200.38px;
height: 57px;
  }
  .color_title h1 {
    font-family: Manrope;
    font-size: 20px;
    font-weight: 500; 
color: var(--White); }
    .color_title p {
        font-family: Manrope;
font-size: 18px;
font-weight: 500; 
color: var(--Gray);   }
.Container_startandnum{
    width: 188.12px;
    height: 57px;
    /* background-color: aqua; */
    display: flex;
    justify-content: end;
    align-items: center;
}

.MA_beforimg p{
    width: 20px;
height: 27px;
margin: auto;

}

.MA_border{
    width: 147.12px;
    height: 39px;
    padding: 6px 10px;
    gap: 4px;
    border:  1px solid;
    background-color: var(--DarkGrayTwo);
    border-radius: 51px ;
    border: 1px ;
    opacity: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.image{
    display: flex;
    /* align-items: center;
    justify-content: center; */
}
.image img{
width: 18px;
height: 18px;    
}
.extra-images {
    display: flex;
    align-items: center;
    width: 18px;
height: 18px; 
}
.MA_paragraph{
    width: 388.5px;
height: 108px;
gap: 0px;
opacity: 0px;
font-family: Manrope;
font-size: 18px;
font-weight: 400;
}
.MA_paragraph p{
    color: var(--Gray);   }


.MA_border{
    display: flex;
    align-items: center;
justify-content: center;
}
.MA_beforimg p{
    color: var(--Gray); 
}

@media (max-width: 1440px) {
    .Card_PageShow{
        width: 377px;
        height: 223px;
        padding: 30px ;
margin: auto;
        gap: 16px;
        border-radius: 12px;
        margin-bottom: 20px !important;
        z-index: 1;
    }
    .MA_paragraph {
        width: 317px;
height: 96px;
font-size: 16px;
font-weight: 400;
}
.MA_border{
    width: 112.64px;
height: 29px;
padding: 4px 8px ;
gap: 2px;
border-radius: 51px ;
}
.image img{
    width: 14px;
    height: 14px;
}
.extra-images img {
    display: flex;
    width: 14px;
    height: 14px;  
}
.color_title{
    width: 163.36px;
height:51px;

}
.color_title h1 {
    font-size: 18px;
    font-weight: 500;

}
.color_title p {

    font-size: 16px;
    font-weight: 500;

    }
    .MA_paddingBotton{
    
        width: 317px;
        height:51px;
        gap: 41px;
margin-bottom: 16px !important;        }
}
@media (max-width: 400px) {
    .Card_PageShow{
        width: 310px;
        margin: auto;
        height: 214px;
        padding: 24px;
    gap: 16px;
        border-radius: 12px  !important;
    margin-bottom: 20px !important;

        
    }
    .MA_beforimg p{
        width: 20px;
height: 21px;
display: flex;
justify-content: center;
    }
.color_title{
    width: 108.36px;
height: 45px;
gap: 0px;
opacity: 0px;

}
.color_title h1{
    font-family: Manrope;
font-size: 16px;
font-weight: 500;

}
.color_title p{
    
    font-size: 14px;

}
.Container_startandnum{
    width: 153.64px ;
}
.MA_border{
    width: 112.64px;
height: 29px;
padding: 4px 8px 4px 8px;
gap: 2px;
border: 1px solid black;
border-radius: 51px;
}
.image img{
    width: 14px;
    height: 14px;
}
.extra-images img {
    display: flex;

    width: 13px;
    height: 14px;  
}
.MA_paddingBotton{
    width: 262px;
height:45px;
gap: 41px;


}
.MA_paragraph p{
    width: 262px;
height: 105px;
font-size: 14px;
}

}