a {
  text-decoration: none;
}
.card {
  background-color: var(--Darkblack);
  border-radius: 12px;
  overflow: hidden;
  width: 22.46875rem;
  height: 31.25rem;
  border: 1px solid var(--DarkGrayOne);
  padding: 20px;
  gap: 20px;
}

.cardImage {
  width: 19.96875rem;
  border-radius: 12px;
  height: 25.25rem;
}

.ha-container {
  display: flex;
  justify-content: space-between;
  width: 19.96875rem;
  height: 2.25rem;
}
.sub-container1 {
  display: flex;
  justify-content: center;
  width: 107px;
  height: 36px;
  padding-top: 6px;
  gap: 2px;
  border-radius: 51px;
  border: 1px solid var(--DarkGrayOne);
  background-color: var(--DarkGrayTwo);
}
.sub-w-100 {
  width: 100px;
}
.sub-w-108 {
  width: 108px;
}
.sub-w-109 {
  width: 109px;
}
.icon-clock {
  width: 1.5rem;
  height: 1.5rem;
}
.clock {
  width: 19.5px;
  height: 19.5px;
}
.text {
  width: 4.0625rem;
  height: 12px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 0px;
  color: var(--Gray);
}
.sub-container2 {
  display: flex;
  width: 147.12px;
  height: 33px;
  border-radius: 51px;
  padding: 6px 10px;
  align-items: center;
  gap: 4px;
  border: 1px solid var(--DarkGrayOne);
  background-color: var(--DarkGrayTwo);
}
.sub2-width {
  width: 148px;
}
.icon-star {
  width: 97.12px;
  height: 18px;
  margin-bottom: 7.5px;
}
.text2 {
  width: 26px;
  height: 21px;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: var(--Gray);
  margin-bottom: 0px;
}
@media (max-width: 1440px) {
  .card {
    height: 25.25rem;
    width: 17.8125rem;
    border-radius: 10px;
    gap: 16px;
    padding: 16px;
  }
  .cardImage {
    width: 15.8125rem;
    border-radius: 10px;
    height: 20.25rem;
  }
  .ha-container {
    width: 15.8125rem;
    height: 2rem;
  }
  .sub-container1 {
    width: 88px;
    height: 32px;
  }
  .icon-clock {
    width: 1.25rem;
    height: 1.25rem;
  }
  .clock {
    width: 16.5px;
    height: 16.5px;
    margin-bottom: 12px;
  }
  .text {
    width: 3.0625rem;
    height: 9px;
    font-size: 12px;
    line-height: 18px;
  }
  .sub-container2 {
    width: 7.545rem;
    height: 30px;
  }
  .sub2-width {
    width: 120px;
  }
  .icon-star img {
    width: 4.625rem;
    height: 14px;
  }
  .text2 {
    width: 22px;
    height: 18px;
    font-size: 12px;
    line-height: 18px;
  }
}
@media (max-width: 992px) {
  .card {
    height: 18.9375rem;
    width: 14.4375rem;
    gap: 12px;
    padding: 12px;
  }
  .cardImage {
    width: 12.9375rem;
    height: 14.6875rem;
  }
  .ha-container {
    width: 12.9375rem;
    height: 2rem;
  }

  .sub-container2 {
    width: 7.295rem;
  }
  .sub2-width {
    width: 116px;
  }
}
