a {
  text-decoration: none;
}

.card {
 width: 22.46875rem;
  height: 31.25rem;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  border: 1px solid var(--DarkGrayOne);
  background-color: var(--VeryDarkGray);
  padding: 20px;
  gap: 20px;
}

.cardImage {
  width: 19.96875rem;
  height: 25.25rem;
  border-radius: 12px;
}

.ha-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.sub-container1 ,.sub-container2-2  {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  background-color: var(--DarkGrayTwo);
  color: var(--Gray);
  padding: 6px 10px 6px 6px;
  border: 1px solid var(--DarkGrayOne);
  border-radius: 51px;
  gap: 2px;
}
.icon-clock {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock {
  width: 19.5px;
  height: 19.5px;
  top: 2.25px;
  left: 2.25px;
}

.text {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: var(--Gray);
}

.sub-container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--DarkGrayOne);
  background-color: var(--DarkGrayTwo);
  height: 33px;
  border-radius: 51px;
  padding: 6px 10px;
  gap: 4px;
}

.icon-star img {
  width: 97.12px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text2 {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: var(--Gray);
  margin-bottom: 0px;
}


@media (max-width: 1440px) {
  .card {
    width: 285px;
    height: 404px;
    padding: 16px;
    gap: 16px;
  }

  .cardImage {
    width: 253px;
    height: 324px;
    border-radius: 10px ;
  }

  .icon-clock {
    width: 20px;
    height: 20px;
  }

  .clock {
    width: 16.25px;
    height: 16.25px;
    top: 1.88px;
    left: 1.88px;
  }

  .text,
  .text2 {
    font-size: 12px;
    line-height: 18px;
  }

  .sub-container2 {
    height: 30px;
  }

  .sub-container1 {
    height: 32px;
  }

  .sub-container2-2 {
    padding: 4px 8px 4px 4px;
    gap: 2px;
  }

  .icon-star img {
    width: 4.625rem;
    height: 14px;
  }
}

@media (max-width: 991px) {
  .card {
    height: 303px;
    width: 231px;
    gap: 12px;
    padding: 12px;
  }

  .cardImage {
    width: 207px;
    height: 235px;
  }

  .icon-star img {
    width: 70px !important;
    height: 14px !important;
  }

 

  .sub-container2 {
    padding: 6px 8px 6px 8px;
    gap: 4px;
    display: flex;
    align-items: center;
  }

  .sub-container2-2 {
    padding: 4px 8px 4px 4px;
    gap: 2px;
  }
}
