a {
  text-decoration: none;
}

.card {
  width: 24.0307%;
  border-radius: 12px;
  background-color: var(--VeryDarkGray);
}

.card-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 5.605%;
  transition: 0.5s;
  border: 1px solid var(--DarkGrayOne);
  background-color: var(--VeryDarkGray);
  border-radius: 12px;
}

.card-div:hover {
  transform: translate(0, -6px) scale(1.01);
  filter: brightness(1.2);
  -webkit-filter: brightness(1.2);
  -webkit-transform: translate(0, -6px) scale(1.01);
  -moz-transform: translate(0, -6px) scale(1.01);
  -ms-transform: translate(0, -6px) scale(1.01);
  -o-transform: translate(0, -6px) scale(1.01);
  box-shadow: 0px 2px 2px var(--Semi-TransparentRed);
}

.cardImage {
  width: 100%;
  border-radius: 12px;
}

.ha-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.sub-container1,
.sub-container2-2,
.sub-container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--DarkGrayTwo);
  color: var(--Gray);
  padding: 6px 10px 6px 6px;
  border: 1px solid var(--DarkGrayOne);
  border-radius: 51px;
  gap: 2px;
}

.sub-container1 {
  width: max-content;
  padding: 6px 10px 6px 6px;
}

.icon-clock {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock {
  width: 19.5px;
  height: 19.5px;
}

.text {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: var(--Gray);
}

.sub-container2 {
  padding: 6px 10px;
  gap: 4px;
}

.icon-star {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-star img {
  width: 97.12px;
}

.text2 {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: var(--Gray);
  margin-bottom: 0px;
}

@media (max-width: 1601px) {
  .text {
    font-size: 14px;
    line-height: 20px;
  }

  .icon-star img {
    width: 75.12px;
  }
}

@media (max-width: 1440px) {
  .card {
    width: 23.7291%;
  }

  .card-div {
    gap: 16px;
    padding: 5.67%;
  }


  .cardImage {
    border-radius: 10px;
  }

  .icon-clock {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .clock {
    width: 16.25px;
    height: 16.25px;
  }

  .text,
  .text2 {
    font-size: 12px;
    line-height: 18px;
  }

  .sub-container2-2 {
    padding: 4px 8px 4px 4px;
    gap: 2px;
  }

  .icon-star img {
    width: 74px;
  }
}

@media (max-width: 1242px) {

  .text,
  .text2 {
    font-size: 10px;
    line-height: 13px;
  }

  .icon-star img {
    width: 50.12px;
  }

  .sub-container2 {
    padding: 3px 4px;
    display: flex;
    align-items: center;
  }

  .sub-container2-2 {
    padding: 3px 4px;
  }

  .icon-clock {
    width: 18px;
    height: 18px;
  }

  .clock {
    width: 14px;
    height: 14px;
  }
}

@media (max-width: 991px) {
  .card {
    width: 47.8324%;
  }

  .card-div {
    gap: 12px;
  }

  .card-div:hover {
    transform: translate(0) scale(1);
    filter: brightness(1.2);
    -webkit-filter: brightness(1.2);
    -webkit-transform: translate(0) scale(1);
    -moz-transform: translate(0) scale(1);
    -ms-transform: translate(0) scale(1);
    -o-transform: translate(0) scale(1);
    box-shadow: 0px 2px 2px var(--Semi-TransparentRed);
}

  .icon-star img {
    width: 70px;
  }
}

@media (max-width: 470px) {

  .text,
  .text2 {
    font-size: 8px;
    line-height: 13px;
  }

  .icon-star img {
    width: 42.12px;
  }

  .sub-container2 {
    padding: 3px 4px;
    display: flex;
    align-items: center;
  }

  .sub-container2-2 {
    padding: 3px 4px;
  }

  .icon-clock {
    width: 15px;
    height: 15px;
  }

  .clock {
    width: 12px;
    height: 12px;
  }
}

@media (max-width: 390px) {
  .card {
    width: 48.8324%;
  }
}