
.LQ-show{
    padding: 30px 539px 30px 157px;
}
.LQ-casting{
    padding: 50px;
    background-color: var(--VeryDarkGray);
    outline:1px solid var(--DarkGrayOne);
    border-radius: 12px;
}
.lq-sub-title-icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.lq-mini-title{
    width: 100%;
    color: var(--Gray);
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
}
.LQ-father-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.lq-left-arrow , .lq-right-arrow{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 52px;
    padding: 14px;
    background-color: var(--DarkGrayTwo);
    border: 1px solid var( --DarkGrayOne) ;
    border-radius: 100%;
}
.LQ-photos-container{
    margin-top: 30px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.LQ-photos-container img{
    width: 10.6708%;
    height: 109px;
    object-fit: contain;
}
@media (max-width:1440px){
    
    .LQ-show{
        padding: 20px 436px 20px 77px;
    }
    .LQ-casting{
        padding: 40px;
        border-radius: 10px;
    }
    .lq-mini-title{
        font-size: 16px;
        line-height: 24px;
    }
    .LQ-father-buttons{
        gap: 8px;
    }
    .lq-left-arrow , .lq-right-arrow{
        width: 44px;
        height: 44px;
        padding:12px;
    }
    .LQ-photos-container{
        margin-top: 20px;
    }
    .LQ-photos-container img{
        width: 11.3636%;
        height: 89px !important;
        object-fit: contain;
    }
}
   @media(max-width:991px){
 
    .LQ-photos-container{
        margin-top: 16px;
    }
     .LQ-photos-container img{
        width:22.5%;
         height: fit-content; 
    }  
}  

@media(max-width:791px){
  
    .LQ-photos-container img{
       width:22.6%;
        height: fit-content; 
   }  
} 
@media(max-width:584px){
    
 
    .LQ-photos-container img{
       width:22.6%;
        height: fit-content; 
   }  
} 
 @media(max-width:390px){
     .LQ-show{
        padding: 20px 16px;
    }
    .LQ-casting{
        padding: 24px;
    }
    .lq-mini-title{
        font-size: 14px;
        line-height: 21px;
    }
    .LQ-photos-container{
        margin-top: 16px;
    }
    .LQ-photos-container img{
        width: 22.5806%;
        height: 75px !important;
        object-fit: contain;
    }

} 