.MA_Card {
    width: 32.1008%;
    background-color: var(--DeepBlack);
    padding: 50px;
    border: 1px solid var(--DarkGrayOne);
    border-radius: 12px;
    background: linear-gradient(to bottom left, rgba(117, 11, 11, 0.336) 0%, rgba(15, 15, 15, 1) 20%);
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.MA_WtitleImg {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 16px;
}

.MA_WtitleImg h5 {
    color: var(--White);
    line-height: 36px;
    font-size: 24px;
    font-weight: 600;
    margin: 0;
}

.streaming-img-div {
    border: 1px solid var(--Darkblack);
    border-radius: 12px;
    background-color: var(--DarkGray);
    padding: 16px;
}

.MA_CardImg {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;


}

.streaming-paragraph {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: var(--Gray);
    margin: 0;
}

