.home-padding {
    padding: 0 8.4375% !important;
}

.to-prev-btn {
    rotate: 180deg;
}

.explore-m-bot {
    margin-bottom: 150px;
}

@media (max-width: 1440px) {
    .home-padding {
        padding:0 5.5556% !important;
    }

    .explore-m-bot {
        margin-bottom: 120px;
    }

    .explore-gap {
        gap: 20px;
    }
}

@media (max-width: 991px) {
    .home-padding {
        padding:0 4.1026% !important;
    }

    .explore-m-bot {
        margin-bottom: 50px;
    }
}