.zk-hero {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: end;
    justify-content: center;
    padding: 0px 145px;
    background-color: var(--VeryDarkGray);
}

.zk-layer {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    border-image-source: linear-gradient(180deg, #262626 0%, rgba(38, 38, 38, 0) 100%);
    background: linear-gradient(0deg, #141414 0%, rgba(20, 20, 20, 0) 100%);
}

.slide {
    height: 100vh;
    width: 100%;
    /*display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;*/
}

.Slide2 {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-hero {
    object-fit: cover;
    margin-top: 150px;
    border-radius: 12px;
    width: 100%;
    height: 80%;
}

.img-hero2 {
    object-fit: cover;
    margin-top: 140px;
    border-radius: 12px;
    width: 100%;
    height: 100%;
}

.zk-container {
    width: 100%;
    top: 170px;
    left: 164px;
    gap: 50px;
    border-radius: 12px 0px 0px 0px;
    opacity: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    border: 1px solid;
}

.zk-carousel {
    width: 100%;
}

.zk-btns-div {
   
    display: flex;
    align-items: center;
    justify-content: center;
    /*margin-bottom: 10px;*/
   
}

.zk-btns-div-img {
    padding: 0px 5px;
}

.zk-play-btn {
    padding: 100px;
}

.carousel-indicators [data-bs-target] {
    width: 23px;
    height: 4px;
}

.carousel-indicators {
    z-index: 1;
}

.carousel-indicators .active {
    background-color: var(--Red);
}

.zk-caption {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    margin-bottom: 50px;
}



.carousel-control-prev-icon {
    background-image: url('../../assets/photos/left.png');
    margin-top: 900px;
    position: absolute;
    bottom: 20px;
    left: 50px;
    padding: 5px;
    width: 56px;
    height: 56px;
}

.carousel-control-prev {
    z-index: 1;
}

.carousel-control-next-icon {
    background-image: url('../../assets/photos/right.png');
    margin-top: 900px;
    position: absolute;
    bottom: 20px;
    right: 50px;
    padding: 5px;
    width: 56px;
    height: 56px;
    z-index: 1;
}

.carousel-control-next {
    z-index: 1;
}

.zk-text {

    width: 1194px;
    height: 54px;
    gap: 0px;
    opacity: 0px;
    color: var(--Gray);
    margin: auto;
    margin-bottom: 20px;

    font-family: Manrope;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.active {
    background-color: var(--VeryDarkGray);
}

@media (max-width: 1440px) {
    .zk-hero {
      padding: 0px 63px;
    }

    .zk-text {
        width: 960px;
        height: 48px;
        gap: 0px;
        opacity: 0px;

        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        margin-bottom: 10px;

    }
    .carousel-control-next-icon {

        width: 48px;
        height: 48px;
    }

 .carousel-control-prev-icon {

        width: 48px;
        height: 48px;
    }}

@media (max-width: 1220px) {
    .zk-text {
        width: 100%;
        margin-bottom: 40px;
    }
}

@media (max-width: 1000px) {
    .zk-btns-div {
       flex-direction: column;

    }

    .zk-hero {
        height: 100vh;
        padding-left: 10px;
        padding-right: 10px;

    }

    .zk-container {
        height: 100vh;
    }

    .carousel-control-prev-icon {
        display: none;
    }

    .carousel-control-next-icon {
        display: none;
    }

    .img-hero {
        height: 100vh;
        padding-left: 0px;
        padding-right: 0px;
        margin-top: 100px !important;
    }

    .img-hero2 {
        height: 100vh;
        padding-left: 0px;
        padding-right: 0px;
        margin-top: 90px !important;

    }

    .carousel-indicators [data-bs-target] {
        display: none;
    }

    .zk-display-none {
        display: none;
    }

    .zk-caption {
        margin-top: 100px;
        bottom: 0px;
        margin-bottom: 0px !important;
        margin-top: 0px !important;
    }

    .zk-text {
        display: none;
    }

    .zk-btns-div-img {

        width: Hug (48px)px;
        height: Hug (48px)px;
        padding: 12px 0px 0px 0px;
        gap: 10px;
        border-radius: 8px 0px 0px 0px;
        border: 1px 0px 0px 0px;
        opacity: 0px;

    }
    .zk-pad{
        margin-bottom: 10px;
    }

}

@media (max-width: 544px) {

    .zk-pad {
        width: Fill (310px)px;
        height: Hug (52px)px;
        padding: 14px 20px 14px 20px;
        gap: 4px;
        border-radius: 8px;
        opacity: 0px;

    }

}

@media (max-width: 379px) {

    .zk-pad {
      
       width: 100% 
       !important;

    }

}
