.zk-hero {
    width: 100%;
    height: 100vh;
    background-color: var(--DarkGray);
    display: flex;
    align-items: end;
    justify-content: center;
    padding: 40px 40px 16px;

}
.slide{
    height: 100vh;
}
.img-hero {
    object-fit: cover;
   width: 100%;
   margin-top: 140px;
  
  
}

.zk-container {
    /*width: Fixed (1,594px)px;
    height: Fixed (835px)px;*/
    width: 100%;
    top: 170px;
    left: 164px;
    padding: 50px 50px 20px 50px;
    gap: 50px;
    border-radius: 12px 0px 0px 0px;
    opacity: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    border: 1px solid;
    border-image-source: linear-gradient(180deg, #262626 0%, rgba(38, 38, 38, 0) 100%);
    background: linear-gradient(0deg, #141414 0%, rgba(20, 20, 20, 0) 100%);
   

}

.zk-carousel {
    width: 100%;
    height: 100%;
   
}

.zk-btns-div {
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.zk-btns-div img {
    padding: 5px;
}

.carousel-indicators [data-bs-target] {
    background-color: red !important;


}

.zk-caption {
    margin-bottom: 25px;
}

.carousel-control-prev-icon {
    background-image: url('../../assets/photos/left.png');
    margin-top: 420px;
}

.carousel-control-next-icon {
    background-image: url('../../assets/photos/right.png');
   margin-top: 420px;
}

@media(max-width:790px) {
    .zk-btns-div {

        flex-direction: column;
    }
    .zk-hero{height: 100vh;}
 

    .zk-container{
    height: 100vh;
   
   
}
.carousel-control-prev-icon {
   
   display: none;
}

.carousel-control-next-icon {

   display: none;
}
.img-hero{width: 100vh;}
.carousel-indicators [data-bs-target] {
   display: none;


}


}