.conter-zq {
  position: relative;
  padding: 0px 162px 150px  ;
}
.image-container {
  position: relative;
  width: 100%;
  border: 1px solid var(--DarkGrayOne);
  border-radius: 12px;
}

.ImagFooter-zq {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px 80px;
  gap: 100px;
}
.info-zq {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.zq-title {
  font-size: 48px;
  font-weight: 700;
  line-height: 57px;
  color: var(--White);
}
.conterfooter-zq {
  background-color: var(--DeepBlack);
  padding: 150px 8.4375% 50px 8.4375%;
}

.footerlink {
  background-color: var(--DeepBlack);
  display: flex;
  gap: 30px;
  padding-bottom: 100px;
}

.heading-zq {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  color: var(--White);
}

.Home,
.Movies,
.Shows,
.Support,
.Subscription,
.contecticonfooter {
  width: 15.1002%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.links {
  text-decoration: none;
  color: var(--Gray);
}

.contecticon {
  display: flex;
  gap: 14px;
}

.contericon-zq {
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid var(--DarkGrayOne);
  background-color: var(--VeryDarkGray);
}
.contericon-zq:hover{
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.664) , 0 0 30px red;
}
.footerBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  color: var(--Gray);
  border-top: 1px solid var(--DarkGrayOne);
  padding-top: 20px;
}

.SitePolicies {
  display: flex;
  gap: 20px;
  list-style-type: none;
}

.Line-zq {
  border-right: 1px solid var(--DarkGrayOne);
}
.links:hover {
  color: var(--White);
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.555) , 0 0 30px red; 
}


@media (max-width: 1440px) {
  .Home,
.Movies,
.Shows,
.Support,
.Subscription,
.contecticonfooter{
  width: 15.3648%;
}
  .conterfooter-zq {
    padding: 80px 5.5556% 40px 5.5556%;
  }

  .footerlink {
    gap: 20px;
    padding-bottom: 80px;
  }
  .overlay {
    padding: 80px 60px 80px;
  }
  .conter-zq {
    padding: 120px 80px;
  }
  .info-zq {
    gap: 10px;
  }
  .zq-title {
    font-size: 28px;
    font-weight: 700;
    line-height: 42px;
    text-align: left;
  }
}

@media (max-width: 1000px) {
  .conterfooter-zq {
    padding: 50px 4.1026% 20px 4.1026%;
  }

  .footerlink {
    background-color: var(--DeepBlack);
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 50px;
    column-gap: 0;
    row-gap: 30px;
  }

  .footerBar {
    display: flex;
    flex-wrap: wrap;
    color: var(--Gray);
    border-top: 1px solid var(--DarkGrayOne);
    gap: 20px;
    font-size: 14px;
    font-weight: 400;
  }

  .Home,
  .Movies,
  .Shows,
  .Support,
  .Subscription,
  .contecticonfooter {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .contericon-zq {
    width: 44px;
    height: 44px;
  }

  .SitePolicies {
    padding: 0;
  }

  .SitePolicies-zq {
    margin: 0;
  }
  .image-container {
    width: 100%;
    height: 344px;
  }
  .conter-zq {
    padding: 80px 16px;
  }
  .overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    gap: 50px;
    padding: 30px 50px;
  }
  .ImagFooter-zq {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .info-zq {
    width: 298px;
    height: 145px;
    gap: 10px;
  }
  .zq-title {
    text-align: center;
    font-size: 24px;
    line-height: 36px;
  }
}
@media (max-width: 332px) {
  .footerlink {
    background-color: var(--DeepBlack);
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 50px;
    gap: 30px;
  }

  .footerBar {
    display: flex;
    flex-wrap: wrap;
    color: var(--Gray);
    border-top: 1px solid var(--DarkGrayOne);

    gap: 20px;
    font-size: 8px;
    font-weight: 400;
  }
  .contericon-zq {
    width: 33px;
    height: 33px;
  }
  .SitePolicies {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
}
