/*section{
width: 1920px !important;
margin: auto;
background-color: var(--DarkGray);
}
/* .MA_card{
width:1597px !important;
height:801px !important;
margin: 0 auto;

} */
/*
.MA{
width: 1597px !important;  
height: 596px ;

 display: flex;
justify-content: space-between;

gap: 20px;
flex-wrap: wrap;
}
@media  (max-width: 1700px) { 
 section{
width: 1440px !important;
 }
    .MA{

        width: 1279px !important;
        height: 480px ;
        gap: 1px;
        flex-wrap: wrap;
        
        
    }
    .MA_card{
        width: 1279px !important;
        height: fit-content !important;
        margin: 0 auto;
        /* padding: 80.5px; */

/* } */
/* } */
/*
@media  (max-width: 390px) { 
 section{
    width: 390px !important;

    margin: 0 auto;
 }
    .MA{

        width: 361px !important;
        height: 1150px;
        /* padding: 14.5px; */

/*
    }
    .MA_card{
        width: 361px !important;
        height: fit-content !important;
}
}
*/
.MA{
    /* width: 1597px; */
display: flex;
justify-content: center;
gap: 30px;
flex-wrap: wrap;
}
 section{
    width: 1920px;
    /* margin: 0 auto; */

    background-color: var(--Darkblack); 
} 


@media  (max-width: 1440px) { 
   section{
    width: 1440px !important;
    margin: 0 auto;

   }
       .MA{
   
           /* width: 1279px !important; */
           gap:20px;
           flex-wrap: wrap;
           
           
       }}
       @media  (max-width: 992px) { 
     
            .MA{
        
                /* width: 1279px !important; */
                gap:101px;
                flex-wrap: wrap;
                
                
            }}
            @media (max-width: 576px) { 
                section{
                    max-width: 576px;
                    min-width: 390px;
                    width: 100%;
                }
                .MA {
                    display: flex;
                    justify-content: center;
                    flex-direction: column; 
                    align-items: center; 
                }
            }
            @media  (max-width: 576px) {
                .MA{
                    gap: 10px;
                    flex-wrap: wrap;
                } 

            }
            @media  (max-width: 390px) { 
     
                    section{
                        width: 390px !important;
                
                    }
                    .MA{

                        width: 361px;
                        display: flex;
                        justify-content: center;
                        align-items: center; 
                   
                        gap: 20px;
                    flex-wrap: wrap;
                    }
                    .MA_card{
                        width: 390px !important;
padding: 0 14.5px;
                    }
                }   
            