
.MAA{
    margin-top: 80px;

display: flex;
justify-content: center;
gap: 30px;
flex-wrap: wrap;
}
 .Ma{
    width: 1920px;

    background-color: var(--DarkGrayTwo); 
} 


@media  (max-width: 1700px) { 
   .Ma{
    width: 100% !important;
    margin: 0 auto;

   }
       .MAA{
   
           gap:20px;
           flex-wrap: wrap;
           margin-top: 60px;

           
       }}
       @media  (max-width: 992px) { 
     
            .MAA{
        
                gap:20px;
                flex-wrap: wrap;
                margin-top: 40px;

                
            }}
          
                   
            