
            .MAContanair{
                /* width: 1597px; */
                width:83%;
                color: var(--White);
            margin: auto;
            /* background-color: aqua; */
            margin-top: 150px !important;

            }
            .ma-text{
                width: 70%;
            }
            .ma-size{
                font-size: 38px;
                font-family: Manrope;
                font-weight: 700;
                line-height: 57px;
                margin-bottom: 14px;
            }
    
            @media  (max-width: 1700px) { 
    
                .MAContanair{
                    width: 75% !important;
                    margin: auto;
                    color: var(--White);


                }.ma-text{
                    width: 90%;
                }
            
            }   
                   @media  (max-width: 1600px) {  
                     .MAContanair{
                         width:80% !important;
                  
                    }
                } 
                @media  (max-width: 1500px) { 
                    .MAContanair{
                 width: 1279px !important;
                    }
                    .ma-size{
                 font-size: 28px;
                    font-weight: 700;
             line-height: 42px;
                  margin-bottom: 10px;
                    }
                    .ma-text{
                        width: 80%;
                    }

                }
                @media  (max-width: 1279px) { 
                    .MAContanair{
                 width: 85% !important;
                    }
                }
                @media  (max-width: 500px) { 
                    .MAContanair{

                        width: 361px !important;
                    }         
                .ma-text{
                    width: 90%;
                }    
            .ma-size{
                font-family: Manrope;
                font-size: 20px;
                font-weight: 700;
                line-height: 30px;

            }   }
                