@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", serif;
  font-optical-sizing: auto;
}

:root {
  --DeepBlack: #0f0f0f;

  --Darkblack: #1f1f1f;

  --SilverGray: #bfbfbf;

  --White: #ffffff;

  --Gray: #999999;

  --Red: #e50000;

  --VeryDarkGray: #1a1a1a;

  --DarkGrayOne: #262626;

  --Semi-TransparentRed: #e5000080;

  --DarkGrayTwo: #141414;

  --SmokyGray: #333333;

  --LightGray: #e4e4e7;
}
