@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
:root {
  --DeepBlack: #0f0f0f;
  --Darkblack: #1f1f1f;
  --SilverGray: #bfbfbf;
  --White: #ffffff;
  --Gray: #999999;
  --Red: #e50000;
  --VeryDarkGray: #1a1a1a;
  --DarkGrayOne: #262626;
  --Semi-TransparentRed: #e5000080;
  --DarkGrayTwo: #141414;
  --SmokyGray: #333333;
  --LightGray: #e4e4e7;
  --dark-red:#330000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", serif;
  font-optical-sizing: auto;
  
}

body {

  background-color: var(--DarkGrayTwo);
}

.Desktop-padding-left-right {
  padding: 0  8.4357%;
}

.subscription-padding {
  padding: 0px 8.4357%;
}


/* scroll */
::-webkit-scrollbar {
  width: 10px;  
  height: 5px; 
}


::-webkit-scrollbar-track {
  background: var(--DarkGrayOne); 
  border-radius: 10px;
}


::-webkit-scrollbar-thumb {
  background: var(--Red); 
  border-radius: 10px;
}


::-webkit-scrollbar-thumb:hover {
  background: var(--Semi-TransparentRed);
}


/* scroll */

@media (max-width: 1440px) {
  .Desktop-padding-left-right {
    padding: 0 5.555% ;
  }
  .subscription-padding {
    padding: 0px 5.556% 8.333% 5.556% ;
  }
}


@media (max-width: 390px) {
  .Desktop-padding-left-right {
    padding: 0 4.10%;
  }
  .subscription-padding {
    padding: 0px  3.8461% 20.5128% 3.8461%;
  }
}
