.custom-arrows {
    display: flex;
    height: max-content;
    justify-content: center;
    align-items: center;
    gap: 16px;
    outline: 1px solid var(--Darkblack);
    background-color: var(--DeepBlack);
    width: max-content;
    border-radius: 12px;
    padding: 16px;
    margin-top: 10px;
}
.home-padding {
    padding: 0 8.4375%;
    margin-top: 150px ;
}
.prev-arrow:hover,
.next-arrow:hover {
    transition: 600ms;
    filter: brightness(1.5);
    -webkit-filter: brightness(1.5);
    -webkit-transition: 600ms;
    -moz-transition: 600ms;
    -ms-transition: 600ms;
    -o-transition: 600ms;
}

.slider-upper-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.to-slider-upper-mb {
    margin-bottom: 70px;
}

.custom-arrows button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--VeryDarkGray);
    padding: 14px;
    border: 1px solid var(--Darkblack);
    cursor: pointer;
    border-radius: 8px;
}

.slider-arrow-div {
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-arrow-img {
    width: 17.5px;
    height: 15.75px;
}

.custom-indicators {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.prev-arrow {
    rotate: 180deg;
}

.card-group,
.to-card-group-2 {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.card-group {
    height: 352px !important;
}

.to-card-group-2 {
    height: 397.56px !important;
}

.custom-indicators button {
    padding: 0;
    width: 16.33px;
    height: 4px;
    background: var(--SmokyGray);
    border: none;
    border-radius: 100px;
    cursor: pointer;
}

.to-indicator.active {
    background-color: red;
    /* Red color for the active indicator */
    width: 23px;
}


.custom-indicators-sml {
    display: none;
    height: 5px;
    width: 22.1%;
    background: var(--SmokyGray);
    border-radius: 100px;
    margin-top: 24px;
    justify-self: center;
    justify-content: center;
    align-items: center;
    gap: 3.7974%;
}

.custom-indicators-sml button {
    height: 5px;
    width: 22.067%;
    padding: 0;
    border: none;
    background-color: transparent;
}

.prev-arrow .slider-arrow-img {
    width: 17.5px;
    height: 15.75px;
}

.next-arrow .slider-arrow-img {
    width: 21px;
    height: 17.5px;
}

@media (max-width: 1440px) {

    .custom-arrows {
        padding: 12px;
        gap: 12px;
        margin-top: 8px;
        border-radius: 10px;
    }

    .slider-arrow-div {
        width: 24px;
        height: 24px;
    }

    .prev-arrow .slider-arrow-img {
        width: 15px;
        height: 13.5px;
    }

    .next-arrow .slider-arrow-img {
        width: 18px;
        height: 15px;
    }

    .custom-arrows button {
        border-radius: 6px;
        padding: 10px;
    }

    .custom-indicators button {
        padding: 0;
        width: 14px;
        height: 4px;
        background: var(--SmokyGray);
        border: none;
        border-radius: 100px;
        cursor: pointer;
    }

    .to-indicator.active {
        background-color: var(--Red);
        /* Red color for the active indicator */
        width: 18px;
    }

    .to-slider-upper-mb {
        margin-bottom: 50px;
    }

    .card-group {
        height: 286px !important;
    }

    .to-card-group-2 {
        height: 310px !important;
    }
}

@media (max-width: 991px) {

    .custom-arrows {
        display: none;
    }

    .custom-indicators-sml {
        display: flex;
    }

    .to-indicator.active {
        width: 25.3164%;
    }

    .to-slider-upper-mb {
        margin-bottom: 30px;
    }

    .card-group {
        height: 100% !important;
    }

    .to-card-group-2 {
        height: 100% !important;
    }
}